@page
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model Aimidge.Pages.ProfileModel
@{
    ViewData["Title"] = "Profile";
}

<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/css/profile.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/sidebar.css" asp-append-version="true">
    <link rel='stylesheet' href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css'>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true">
</head>

<body>
    @* <footer class="footer">
    <div>
    &copy; 2024 - Aimidge - <a asp-area="" asp-page="/AboutInside">About</a>
    </div>
    </footer> *@

    <div class="sidebar">
        <div class="logo-details">
            <img src="~/Logo1white.png" alt="Description of the image" width="50" height="50">
            <div class="logo_name">AIMIDGE</div>
            <i class='bx bx-menu' id="btn"></i>
        </div>
        <ul class="nav-list">
            <li>
                <a asp-area="" asp-page="/Generator">
                    <i class='bx bx-grid-alt'></i>
                    <span class=" links_name">@localizer["generator"]</span>
                </a>
            </li>
            <li>
                <a asp-area="" asp-page="/Album">
                    <i class='bx bx-heart'></i>
                    <span class="links_name">@localizer["saved"]</span>
                </a>
            </li>
            <li class="profile">
                <div class="profile-details">
                    <i class='bx bxs-user-circle'></i>
                    <div class="name_job">
                        <div class="name">
                            <a asp-area="" id="sidebarUsername" asp-page="/UserProfile" class="name"></a>
                        </div>
                    </div>
                </div>
                <i class='bx bx-log-out' id="log_out"></i>
            </li>
        </ul>
    </div>

    <script>
        let usernameInput;
        let nameInput;
        let emailInput;

        document.addEventListener("DOMContentLoaded", async function getUserInfo() {
            document.getElementById("usernameInput").value = "Loading...";
            document.getElementById("nameInput").value = "Loading...";
            document.getElementById("emailInput").value = "Loading...";

            try {
                const response = await fetch('api/accounts/GetInfo', {
                    method: 'GET'
                });

                if (response.ok) {
                    const result = await response.json();;
                    if (result) {
                        document.getElementById("usernameInput").value = result.Username;
                        document.getElementById("nameInput").value = result.Name;
                        document.getElementById("emailInput").value = result.Email;
                        document.getElementById("sidebarUsername").innerText = result.Username;
                    }
                } else {
                    console.error("Failed to fetch user information: ", response.status);
                }
            } catch (error) {
                document.getElementById("usernameInput").value = " ";
                document.getElementById("nameInput").value = " ";
                document.getElementById("emailInput").value = " ";
                document.getElementById("sidebarUsername").innerText = " ";
            }
        });
    </script>

    <section class="home-section">
        <div class="try-it">
            <div class="model-card">
                <div class="card-body">
                    <div class="form-group">
                        <label class="form-label">@localizer["username"]</label>
                        <input type="text" id="usernameInput" class="form-control mb-1">
                    </div>
                    <div class="form-group">
                        <label class="form-label">@localizer["name"]</label>
                        <input type="text" id="nameInput" class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="form-label">@localizer["e-mail"]</label>
                        <input type="text" id=emailInput class="form-control mb-1">
                    </div>
                </div>
            </div>
            <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
            <script type="text/javascript">

            </script>
        </div>
    </section>
    <script>
        let sidebar = document.querySelector(".sidebar");
        let closeBtn = document.querySelector("#btn");
        let searchBtn = document.querySelector(".bx-search");
        let logoutBtn = document.querySelector("#log_out");
        logoutBtn.addEventListener("click", async () => {
            try {
                const response = await fetch('/api/accounts/logout', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                });
                if (response.ok) {
                    window.location.href = '/Index';
                } else {
                    console.error('Failed to logout:', response.statusText);
                }
            } catch (error) {
                console.error('Error during logout:', error);
            }
        });
        closeBtn.addEventListener("click", () => {
            sidebar.classList.toggle("open");
            menuBtnChange();
        });
        searchBtn.addEventListener("click", () => {
            sidebar.classList.toggle("open");
            menuBtnChange();
        });
        function menuBtnChange() {
            if (sidebar.classList.contains("open")) {
                closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");
            } else {
                closeBtn.classList.replace("bx-menu-alt-right", "bx-menu");
            }
        }
    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>

</html>